.colorBlueGray { background-color: #8DBCC7 }
.colorPastelCyan { color: #A4CCD9 }
.colorPowderBlue { color: #C4E1E6 }
.colorMintCream { color:#EBFFD8 }
.colorBlanco { color: white }
.colorNegro { color: black}

.fuenteTitulos {
    font-family: "Tektur", sans-serif;
    font-size: 46px;
    font-weight: 700;
 }
.fuenteTexto {  
    font-family: "Poppins", sans-serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 16px;
}

.titulo-logo {
  font-family: 'Megrim', cursive;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 2px;
}

/* COLORES */
.bg-powder-blue { 
    background-color:#C4E1E6 !important;

}
.colorPastelCyan { color: #A4CCD9 }
.colorMintCream { color:#EBFFD8 }

/* TIPOGRAFÍAS */
.fuenteTitulos {
    font-family: "Tektur", sans-serif;
    font-size: 46px;
    font-weight: 700;
}
.fuenteTexto {  
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .fuenteTitulos { font-size: 1.5rem; }
    .fuenteTexto { font-size: 0.9rem; }
}
.btn-azul-personalizado {
  background-color: #8DBCC7 !important;
  border-color: #8DBCC7 !important;
  color: white;
}
.bg-footer {
  background-color: #EBFFD8;
}


/* CONTENEDOR VIDEO */
.contenedor-vid {
  padding: 50px;
  width: 100%;
  height: 100vh;
}
.video-container {
  position: relative;
  width: 100%;
  height: 100vh; /* pantalla completa */
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
  transform: translate(-50%, -50%);
  object-fit: cover;
  filter: brightness(0.5); /* opcional: oscurece el fondo para que el texto destaque */
}

.video-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
  top: 50%;
  transform: translateY(-50%);
}

.custom-btn:hover {
  background-color: #8DBCC7 !important; /* verde bootstrap */
  border-color: #8DBCC7;
}

/* RESEÑAS */
.fuenteSub {  
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}

.resenias {
  padding: 100px;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.carusel-res {
  position: relative;
  max-width: 500px;
  margin: 2rem auto;
  padding: 1rem;
  box-shadow: 20px 10px 15px rgba(0,0,0,0.1);
  border-radius: 8px;
  background: white;
  overflow: hidden;
  text-align: center;
  font-family: Arial, sans-serif;
}

.res {
  display: none;
  flex-direction: column;
  align-items: center;
}

.res.activa {
  display: flex;
}

.review-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.texto-res {
  font-style: italic;
  margin-bottom: 1rem;
  color: #333;
}

.nombre-dep {
  font-weight: bold;
  font-family: "Tektur", sans-serif;
  margin-bottom: 0.25rem;
}

.rol {
  font-size: 0.9rem;
  color: #777;
}

.botones{
  display: flex;
  justify-content: center;   /* Centra los botones horizontalmente */
  align-items: center;
  gap: 7rem;                  /* Espacio entre botones */
  flex-wrap: wrap;           /* Hace que los botones se acomoden si no caben */
  padding: 1rem;
}

.prev-btn, .next-btn {
  background: black;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 50%;
  font-size: 1.2rem;
}

.prev-btn:hover, .next-btn:hover {
  background: #A4CCD9;
}

/* DESTACADOS */ 
.marcas{
  font-size: 14px;
}

.unidades{
  font-size: 14px;
  color: red;
  text-align:right;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
   
.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}
