.colorBlueGray { background-color: #8DBCC7 }
.colorPastelCyan { color: #A4CCD9 }
.colorPowderBlue { color: #C4E1E6 }
.colorMintCream { color:#EBFFD8 }
.colorBlanco { color: white }
.colorNegro { color: black}

.fuenteTitulos {
    font-family: "Tektur", sans-serif;
    font-size: 46px;
    font-weight: 700;
 }
.fuenteTexto {  
    font-family: "Poppins", sans-serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 16px;
}

.titulo-logo {
  font-family: 'Megrim', cursive;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 2px;
}

/* COLORES */
.bg-powder-blue { 
    background-color:#C4E1E6 !important;

}
.colorPastelCyan { color: #A4CCD9 }
.colorMintCream { color:#EBFFD8 }

/* TIPOGRAFÍAS */
.fuenteTitulos {
    font-family: "Tektur", sans-serif;
    font-size: 46px;
    font-weight: 700;
}
.fuenteTexto {  
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .fuenteTitulos { font-size: 1.5rem; }
    .fuenteTexto { font-size: 0.9rem; }
}
.btn-azul-personalizado {
  background-color: #8DBCC7 !important;
  border-color: #8DBCC7 !important;
  color: white;
}
.bg-footer {
  background-color: #EBFFD8;
}



.marcas{
    font-size: 14px;
  }

  .unidades{
    font-size: 14px;
    color: red;
    text-align:right;
  }

  .navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
   
