html {
    height: 100%;
    width: 100%;
  }

  .marcas{
    font-size: 14px;
  }

  .unidades{
    font-size: 14px;
    color: red;
    text-align:right;
  }

  .navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
