.colorBlueGray { background-color: #8DBCC7 }
.colorPastelCyan { color: #A4CCD9 }
.colorPowderBlue { color: #C4E1E6 }
.colorMintCream { color:#EBFFD8 }
.colorBlanco { color: white }
.colorNegro { color: black}

.fuenteTitulos {
    font-family: "Tektur", sans-serif;
    font-size: 46;
    font-weight: 700;
 }
.fuenteTexto {  
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}


.marcas{
    font-size: 14px;
  }

  .unidades{
    font-size: 14px;
    color: red;
    text-align:right;
  }

  .navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }